/*https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#How_is_specificity_calculated*/
.full-page-iframe.full-page-iframe {
	position: fixed;
	overflow: hidden;
	display: inline-grid;
	bottom: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	border: 3Q ridge #FF3D00;
	z-index: 9999;
}

.hide-overflow {
	overflow: hidden;
}

.right-align {
	float: right;
}

.float-bottom-right {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0 1rem 1rem 0;
	z-index: 19999;
	font: 700 ultra-expanded 1.25rem/1.25 system-ui, sans-serif;
}