@charset "UTF-8";
/*
This css is a takes elements from minimal css resets and minimal websites:
css reset (it's mostly just "box-sizing: border-box")
https://allthingssmitty.com/2017/01/09/css-reset-for-minimalists/
https://alligator.io/css/minimal-css-reset/
https://github.com/sindresorhus/modern-normalize
css from these minimal websites:
https://bestmotherfucking.website/
https://perfectmotherfuckingwebsite.com/
https://evenbettermotherfucking.website/
*/
:root {
	box-sizing: border-box;
	font: 500 16px/1.4 system-ui, sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	background-color: #494949;
	color: #FAFAFA;
	margin: 1rem auto;
	padding: 0 0.5rem;
	max-width: 1100px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1rem 0;
}

h1, h2, h3 {
	line-height: 1.2;
}

/*fix lower specificity of hidden attribute on some elements*/
[hidden] {
	display: none !important;
}

a, a:link {
	color: #B3E5FC;
}

a:visited {
	color: #E1BEE7;
}

button {
	font-size: 1.1rem;
}

select, input {
	font-size: 0.9rem;
}

/*16:9 aspect ratio*/
.embed-box {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
	height: 0;
	margin: 1rem 0;
}

.embed-box > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

/*table and list*/
table, th, td {
	border: 1Q ridge;
	border-collapse: collapse;
}

th, td {
	padding: 0.7ex 1ex;
}

ol, ul {
	padding: 0 0 0 1.2rem;
}

/*utils*/
.codearea {
	resize: vertical;
	overflow: auto;
	white-space: pre;
	width: 100%;
	font: 15px monospace;
}

.full-width {
	width: 100%;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/Specificity#The_!important_exception*/
.accenting-border.accenting-border {
	border: 1Q ridge #FF3D00;
}