/*iframe is created by an external script. override styles*/
iframe {
	position: fixed !important;
	overflow: hidden !important;
	display: inline-block !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
	right: 0 !important;
	width: 100% !important;
	height: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
	border: none !important;
}

body {
	overflow: hidden;
}